<template name="home">
    <div class="container">
        <!--        <h1 class="header text-center">Porn Movies Votes</h1>

                <div class="row section">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="text-center header-form">your favorite movies of all time</h1>

                        <h3 class="text-center subheader-form">no information required</h3>
                    </div>
                </div>
                <div class="row section">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1"><i class="fa fa-tumblr-square"></i></span>
                            <input type="text" class="form-control" placeholder="Your tumblr blog, ex : p0rnhunt.tumblr.com"
                                   aria-describedby="basic-addon1">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Allow people to add movies
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Encourage people to invite more people
                            </label>
                        </div>
                    </div>
                </div>-->
        <div class="row section">
            <div class="col-md-12">
                <h2 class="header text-center header-list">
                    list your favorite movies
                </h2>
            </div>
        </div>
        <div class="row section">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon2"><i class="fa fa-link"></i></span>
                    <input type="text" class="form-control"
                           placeholder=""
                           aria-describedby="sizing-addon2" data-bind="value : voteUrl, returnKey : AddThingCreateVote">
                    <span class="input-group-btn">
                        <button class="btn btn-success" type="button" data-bind="click : AddThingCreateVote"><i class="fa fa-plus-square" data-bind="class : buttonIconClass"></i></button>
                    </span>
                </div>
            </div>
        </div>
        <div class="row section">
            <div class="col-md-8 col-md-offset-2">
                <span data-bind="text : shareUrl"></span>
            </div>
        </div>
        <div class="row section">
            <div class="col-md-8 col-md-offset-2">
                {{> list}}
            </div>
        </div>
    </div>
</template>