<template name="list">
{{#if votes}}
    <ol class="videoList">
        {{#each votes}}
            {{> vote}}
        {{/each}}
    </ol>
{{/if}}
</template>

<template name="vote">
    <li class="videoListEntry">
        <div class="header">
            <h5><i class="fa fa-paperclip"></i>&nbsp;<span data-bind="text : vote.title"></span></h5>
            <button class="btn btn-default btn-xs btn-remove-playlist-item" data-bind="click : removeItem">
                <i class="fa fa-remove"></i>
            </button>
        </div>
        <div class="content">
            <div class="list-container">
                <div class="thumbnailContainer aspectFourByThreeLetterboxed">
                    <div class="thumbnailClip">
                        <img data-bind="attr : {src : thumb}">
                    </div>
                </div>
            </div>
            <div class="list-container">
                <p></p>
            </div>
            <div class="list-container text-center">
                <div class="btn-group-vertical" role="group" aria-label="...">
                    <button type="button" class="btn btn-danger" data-bind="click : upItem">
                        <i class="fa fa-arrow-up"></i>
                    </button>
                    <span class="upVote" data-bind="text : upVote"></span>
                    <span>/</span>
                    <span class="downVote" data-bind="text : downVote"></span>
                    <button type="button" class="btn btn-danger" data-bind="click : downItem">
                        <i class="fa fa-arrow-down"></i>
                    </button>
                </div>

            </div>
        </div>
    </li>
</template>